<h1>Listing organizations</h1>

<div class="table-responsive">
<table class="table table-hover">
  <tr>
    <th>Organization Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>


<br />

<%= link_to 'New Organization', new_organization_path %>
