<h1>Listing tesets</h1>

<table>
  <tr>
    <th>Str</th>
    <th>Int</th>
    <th>D</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tesets.each do |teset| %>
  <tr>
    <td><%= teset.str %></td>
    <td><%= teset.int %></td>
    <td><%= teset.d %></td>
    <td><%= link_to 'Show', teset %></td>
    <td><%= link_to 'Edit', edit_teset_path(teset) %></td>
    <td><%= link_to 'Destroy', teset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teset', new_teset_path %>
