<p id="notice"><%= notice %></p>

<p>
  <b>Str:</b>
  <%= @teset.str %>
</p>

<p>
  <b>Int:</b>
  <%= @teset.int %>
</p>

<p>
  <b>D:</b>
  <%= @teset.d %>
</p>


<%= link_to 'Edit', edit_teset_path(@teset) %> |
<%= link_to 'Back', tesets_path %>
